# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Methodology.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\koler\RiderProjects\Methodology\.idea\.idea.Methodology\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
